/* CABECALHO  */
.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* SEÇÃO SUPERIOR */
.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

/* VIDEOS */
.videos__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos__item{
    height: 303px;
    width: 280px;
    flex-grow: 1;
}

/* MENU */
.menu__container {
    position: fixed;
    bottom: 0;
    height: 74px;
    width: 100%;
}

.menu__lista {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* RODAPE */
.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

@media(min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }

    .menu__container {
        top: 80px;
        bottom: auto;
        left: 0;
        height: auto;
        width: 74px;
    }

    .menu__lista {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }

    .rodape__container {
        justify-content: space-between;
    }
}

@media(min-width: 1440px) {
    .menu__container {
        width: 239px;
        height: 100%;
        overflow-y: auto;
        top: 80px;
    }

    .menu__lista {
        height: auto;
        flex-direction: column;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__itens {
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    .jogos {
        order: 3;
    }

    .filmes {
        order: 2;
    }

    .premium {
        order: 1;
    }

    .maispagina{
        order: 4;
    }
}